
footer#footer
  hr
  p SuperEvents (c) Hassan Matooq

script(src='../dist/SuperEvents.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/prism.min.js')
script(src='assets/js/javascript.min.js')
