#left-side

  h1#page-title SuperEvents
    img(src="logo.png")
    small JavaScript Events Library
  p
    strong SuperEvents
    |
    | is a JavaScript library that handling any events in websites.
    |
    | Support all events action like:-
    |
    span.primary-color Scroll,
    |
    |
    span.primary-color Click,
    |
    |
    span.primary-color Hover,
    |
    |
    span.primary-color Mouse Move,

  hr

  ul#main-menu
    li
      a(href="index.html") Home

    li
      a(href="api.html") API Documentation
    li
      a(href="examples.html") Examples

      ul
        li
          a(href="examples.html#click") Click

        li
          a(href="examples.html#hover") Hover

        li
          a(href="examples.html#mousemove") Mouse Moving

        li
          a(href="examples.html#scroll") Scroll
    li
      a.github(href="https://github.com/alzintani/SuperEvents" target="_blank") GitHub

  hr
